.frontTop {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #ffffff;
    width: 50%;
}
.tbImgView {
    width: 100%;
    display: flex;
    justify-content: center;
}
.tbContainer {
    width: 100%;
    margin: 4em auto;
    position: relative;
}
.tbContainer img {
    width: 200px;
    height: auto;
    display: none;
    margin-bottom: 30px;
}
.tbContainer input {
    display: none;
}
.tbContainer label {
    width: 200px;
    height: 45px;
    background: #2f9c74;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
